docs/nse-scripts.dtd

<!-- DTD for Kmap XML -&#45;script-help output.
     kmap -&#45;script-help "<rules>" -oX - -->

<!ELEMENT nse-scripts (directory*, script*)>

<!ELEMENT directory EMPTY>

<!ATTLIST directory name (scripts|nselib) #REQUIRED path CDATA #REQUIRED>

<!ELEMENT script (categories?, description?)>

<!ATTLIST script filename CDATA #REQUIRED>

<!ELEMENT categories (category*)>

<!ELEMENT category (#PCDATA)>

<!ELEMENT description (#PCDATA)>
